@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HTML {
  border: 2px solid #f94a29;
  color: #f94a29;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.HTML:hover {
  box-shadow: 0 0 40px 40px #f94a29 inset;
}

.CSS {
  border: 2px solid #3498db;
  color: #3498db;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.CSS:hover {
  box-shadow: 0 0 40px 40px #3498db inset;
}

.javascript {
  border: 2px solid #ffca28;
  color: #ffca28;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.javascript:hover {
  box-shadow: 0 0 40px 40px #ffca28 inset;
  color: black;
}

.react {
  border: 2px solid #00d7c3;
  color: #00d7c3;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.react:hover {
  box-shadow: 0 0 40px 40px #00d7c3 inset;
}

.firebase {
  border: 2px solid #ffa000;
  color: #ffa000;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.firebase:hover {
  box-shadow: 0 0 40px 40px #ffa000 inset;
}

.next {
  border: 2px solid #e74c3c;
  color: #e74c3c;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.next:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.tailwind {
  border: 2px solid #8e44ad;
  color: #8e44ad;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.tailwind:hover {
  box-shadow: 0 0 40px 40px #8e44ad inset;
}

.materialUI {
  border: 2px solid #757ce8;
  color: #757ce8;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.materialUI:hover {
  box-shadow: 0 0 40px 40px #757ce8 inset;
}

.api {
  border: 2px solid #ea8fea;
  color: #ea8fea;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.api:hover {
  box-shadow: 0 0 40px 40px #ea8fea inset;
}
