.home__container {
  display: flex;
  height: 100%;
  align-items: center;
}

.home__container__info {
  display: block;
  width: 45%;
}

.home__container__info h3 {
  font-weight: 100;
  color: aliceblue;
  opacity: 0.7;
}

.home__container__info h2 {
  font-weight: 700;
}

.home__container__info > div {
  margin-top: 8px;
}

.home__container ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.home__container ul li {
  list-style: none;
  margin: 0 5px;
}

.home__container ul li a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: transparent;
  border-radius: 50%;
  font-size: 2rem;
  color: aliceblue;
  transition: 0.5s;
}

.home__container ul li a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #00d7c3;
}

.home__container ul li a:hover {
  color: #00d7c3;
  box-shadow: 0 0 5px #00d7c3;
  text-shadow: 0 0 5px #00d7c3;
}

.button {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.95rem;
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.8rem 1.2rem;
  text-align: center;
  font-weight: 700;
  border: 2px solid #3498db;
  color: #3498db;
  background-image: linear-gradient(45deg, #3498db 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 300ms ease-in-out;
}

.button:hover {
  background-position: 0;
  color: #fff;
}

@media screen and (max-width: 850px) {
  .home__container__info {
    width: 80%;
  }
}

@media screen and (max-width: 550px) {
  .home__container {
    align-items: flex-start;
  }
  .home__container__info {
    width: 100%;
  }
}
