.tool__card {
  color: black;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.tool__card h5 {
  margin-top: 0.5rem;
  color: azure;
}
